// colors
$black: #000000;
$white: #FFFFFF;
$red:  #E71414;
$light-red: #FF4343;

//fontSize

$_72px: 4.5rem;
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;