
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
  }

  @import '../scss/cdn';
  @import '../scss/var';
  @import '../scss/mixin';
  @import '../scss/main.scss';
  @import '../scss/features.scss';
  @import '../scss/icon.scss';

  html {
    font-family: 'Raleway', sans-serif;
  }

  .container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }